## *******************************************************************************************************************************************************
## Git Ignore Configuration
## *******************************************************************************************************************************************************

## Node
dist/
build/
node_modules/
assets/**/*.css
