## *******************************************************************************************************************************************************
## Git Ignore Configuration
## *******************************************************************************************************************************************************

## Node
dist/
build/
node_modules/
bin/
compile/
assets/**/*.css
