## *******************************************************************************************************************************************************
## Git Ignore Configuration
## *******************************************************************************************************************************************************

## Node
dist/
build/
node_modules/
*.css
*.min.css